"""verizon.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from verizon.api_helper import APIHelper
from verizon.configuration import Server
from verizon.controllers.base_controller import (
    BaseController,
)
from verizon.exceptions.api_exception import (
    APIException,
)
from verizon.exceptions.error_response_exception import (
    ErrorResponseException,
)
from verizon.http.http_method_enum import HttpMethodEnum
from verizon.models.drop_response import DropResponse
from verizon.models.generate_response import (
    GenerateResponse,
)
from verizon.models.retrieve_response import (
    RetrieveResponse,
)


class DeviceCredentialManagementController(BaseController):
    """A Controller to access Endpoints in the verizon API."""

    def __init__(self, config):
        """Initialize DeviceCredentialManagementController object."""
        super(DeviceCredentialManagementController, self).__init__(config)

    def retrieve_credentials(self,
                             body):
        """Perform a POST request to /credentials/retrieve.

        Args:
            body (CredentialsRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful retrieval

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.HYPER_PRECISE_CREDENTIALS)
            .path("/credentials/retrieve")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("thingspace_oauth"), Single("VZ-M2M-Token"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RetrieveResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request / Verification Failure",
                ErrorResponseException)
            .local_error("401", "Unauthorized", APIException),
        ).execute()

    def generate_credentials(self,
                             body):
        """Perform a POST request to /credentials/generate.

        Args:
            body (CredentialsRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Credentials generated
                successfully

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.HYPER_PRECISE_CREDENTIALS)
            .path("/credentials/generate")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("thingspace_oauth"), Single("VZ-M2M-Token"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GenerateResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ErrorResponseException),
        ).execute()

    def reset_credentials(self,
                          body):
        """Perform a POST request to /credentials/reset.

        Args:
            body (CredentialsRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Credentials reset
                successfully

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.HYPER_PRECISE_CREDENTIALS)
            .path("/credentials/reset")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("thingspace_oauth"), Single("VZ-M2M-Token"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GenerateResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ErrorResponseException),
        ).execute()

    def drop_credentials(self,
                         body):
        """Perform a POST request to /credentials/drop.

        Args:
            body (CredentialsRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Credentials dropped
                successfully

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.HYPER_PRECISE_CREDENTIALS)
            .path("/credentials/drop")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("thingspace_oauth"), Single("VZ-M2M-Token"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DropResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ErrorResponseException),
        ).execute()
