"""verizon.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from verizon.api_helper import APIHelper
from verizon.configuration import Server
from verizon.controllers.base_controller import (
    BaseController,
)
from verizon.exceptions.hyper_precise_location_result_exception import (
    HyperPreciseLocationResultException,
)
from verizon.http.http_method_enum import HttpMethodEnum
from verizon.models.hpl_add_devices_request import (
    HplAddDevicesRequest,
)


class HPLDeviceManagementController(BaseController):
    """A Controller to access Endpoints in the verizon API."""

    def __init__(self, config):
        """Initialize HPLDeviceManagementController object."""
        super(HPLDeviceManagementController, self).__init__(config)

    def add_devices_hyper_precise(self,
                                  body):
        """Perform a POST request to /devices/actions/add.

        Use this API if you want to manage some device settings before you are ready
        to activate service for the devices.

        Args:
            body (HplAddDevicesRequest): Devices to add to the account.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. For each device in the
                request, contains device identifiers and a success or failure
                response.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.HYPER_PRECISE_LOCATION)
            .path("/devices/actions/add")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("thingspace_oauth"), Single("VZ-M2M-Token"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(HplAddDevicesRequest.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request.", HyperPreciseLocationResultException)
            .local_error("401", "Unauthorized", HyperPreciseLocationResultException)
            .local_error("403", "Forbidden", HyperPreciseLocationResultException)
            .local_error("404",
                "Not Found / Does not exist",
                HyperPreciseLocationResultException)
            .local_error("405",
                "Method Not Allowed",
                HyperPreciseLocationResultException)
            .local_error("406",
                "Format / Request Unacceptable",
                HyperPreciseLocationResultException)
            .local_error("429",
                "Too many requests",
                HyperPreciseLocationResultException)
            .local_error("500",
                "Internal Server Error",
                HyperPreciseLocationResultException)
            .local_error("default",
                "Error response",
                HyperPreciseLocationResultException),
        ).execute()
