"""verizon.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from verizon.api_helper import APIHelper
from verizon.configuration import Server
from verizon.controllers.base_controller import (
    BaseController,
)
from verizon.exceptions.auth_rest_error_responseforplanner_exception import (
    AuthRestErrorResponseforplannerException,
)
from verizon.exceptions.rest_error_responseforplanner_exception import (
    RestErrorResponseforplannerException,
)
from verizon.http.http_method_enum import HttpMethodEnum
from verizon.models.asynchronous_request_resultforplanner import (
    AsynchronousRequestResultforplanner,
)
from verizon.models.get_device_statuses_responseforplanner import (
    GetDeviceStatusesResponseforplanner,
)


class IntelligenceServiceController(BaseController):
    """A Controller to access Endpoints in the verizon API."""

    def __init__(self, config):
        """Initialize IntelligenceServiceController object."""
        super(IntelligenceServiceController, self).__init__(config)

    def set_connection_planner(self,
                               body=None):
        """Perform a POST request to
        /v1/intelligence/device/connection-planner.

        Retrieves available device windows for Connection Planner.

        Args:
            body (GetDevicesWindowsRequestforplanner, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The asynchronous
                request status.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.THINGSPACE)
            .path("/v1/intelligence/device/connection-planner")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("thingspace_oauth"), Single("VZ-M2M-Token"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AsynchronousRequestResultforplanner.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad request", RestErrorResponseforplannerException)
            .local_error("401",
                "Unauthorized",
                AuthRestErrorResponseforplannerException)
            .local_error("403", "Forbidden", RestErrorResponseforplannerException)
            .local_error("404",
                "Not Found / Does not exist",
                RestErrorResponseforplannerException)
            .local_error("406",
                "Format / Request Unacceptable",
                RestErrorResponseforplannerException)
            .local_error("429",
                "Too many requests",
                RestErrorResponseforplannerException)
            .local_error("default",
                "Error response",
                RestErrorResponseforplannerException),
        ).execute()

    def status_connection_planner(self,
                                  body=None):
        """Perform a POST request to
        /v1/intelligence/device/connection-planner/status.

        Retrieves the device status for the Connection Planner service.

        Args:
            body (GetDeviceStatusesRequestforplanner, optional): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Success

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.THINGSPACE)
            .path("/v1/intelligence/device/connection-planner/status")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("thingspace_oauth"), Single("VZ-M2M-Token"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetDeviceStatusesResponseforplanner.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad request", RestErrorResponseforplannerException)
            .local_error("401",
                "Unauthorized",
                AuthRestErrorResponseforplannerException)
            .local_error("403", "Forbidden", RestErrorResponseforplannerException)
            .local_error("404",
                "Not Found / Does not exist",
                RestErrorResponseforplannerException)
            .local_error("406",
                "Format / Request Unacceptable",
                RestErrorResponseforplannerException)
            .local_error("429",
                "Too many requests",
                RestErrorResponseforplannerException)
            .local_error("default",
                "Error response",
                RestErrorResponseforplannerException),
        ).execute()
