"""verizon.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from deprecation import deprecated

from verizon.api_helper import APIHelper
from verizon.configuration import Server
from verizon.controllers.base_controller import (
    BaseController,
)
from verizon.exceptions.mdm_error_response_exception import (
    MdmErrorResponseException,
)
from verizon.http.http_method_enum import HttpMethodEnum
from verizon.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class MapMessageController(BaseController):
    """A Controller to access Endpoints in the verizon API."""

    def __init__(self, config):
        """Initialize MapMessageController object."""
        super(MapMessageController, self).__init__(config)

    @deprecated()
    def download_map_messages(self,
                              vendor_id,
                              geofence):
        """Perform a GET request to /api/v2/mapdata.

        This endpoint is deprecated. (Use /api/v2/mapdata/query for new integrations).
        This endpoint allows user to download SAE J2735 or ETSI MAP messages in ASN.1
        UPER base64 encoded format. The area for the MAP messages is needed to be
        defined in the query.
        **Required request header:** `Accept` — specifies the response format.
        Omitting this header will result in a `400 Bad Request`. Supported values:
        - `text/plain` — ASN.1 UPER base64-encoded MAP messages (one per line)
        - `application/json` — JSON-encoded MAP messages

        Args:
            vendor_id (str): The VendorID set during the Vendor registration call.
            geofence (GeofencePolygon): GeoJSON Polygon defining the area to retrieve
                MAP messages for.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Line separated ASN.1
                UPER J2735/ETSI base64 encoded MapData messages

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.IMP_SERVER)
            .path("/api/v2/mapdata")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("VendorID")
                .value(vendor_id))
            .query_param(Parameter()
                .key("Geofence")
                .value(geofence))
            .auth(And(Single("thingspace_oauth"), Single("sessionToken"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("400", "Bad Request", MdmErrorResponseException)
            .local_error("401", "Unauthorized", MdmErrorResponseException)
            .local_error("403", "Forbidden", MdmErrorResponseException)
            .local_error("404", "Not found", MdmErrorResponseException)
            .local_error("429", "Too many requests", MdmErrorResponseException)
            .local_error("503", "Internal server error", MdmErrorResponseException)
            .local_error("default", "unexpected error", MdmErrorResponseException),
        ).execute()

    def ingest_map_messages(self,
                            vendor_id,
                            map_data_message_standard,
                            body):
        """Perform a POST request to /api/v2/mapdata.

        This endpoint allows the user to upload map messages in ASN.1 UPER base64
        encoded format or JER (JSON) formats. The MAP data message can have more than
        one intersections in it.
        Both SAE and ETSI defined MAP messages are supported. The SAE type MAP
        messages have to be wrapped in a MessageFrame, as defined in the SAE J2735
        standard.
        The ETSI type MAP messages are expected as MAPEM structures that include the
        ETSI header, as defined in the ETSI TS 103 301 standard.
        Note: The user needs to authenticate with their ThingSpace credentials using
        the Access/Bearer and Session/M2M tokens in order to call this API.
        **Required request header:** `Content-Type` — specifies the format of the
        request body. Omitting or sending an unsupported value will result in a `415
        Unsupported Media Type`. Supported values:
        - `text/plain` — ASN.1 UPER base64-encoded MAP message
        - `application/json` — JSON representation of the MAP message

        Args:
            vendor_id (str): The VendorID set during the Vendor registration call.
            map_data_message_standard (ETXMessageStandardEnum): Select which V2X
                messaging standard will be used for the message generation. The
                following options are supported: - "etsi": The message will be
                generated using the ETSI (European) standard (e.g. MAPEM). - "sae":
                The message will be generated using the SAE J2735 (North American)
                standard (e.g. MAP). - if not sent while POST, defaults to "sae"
            body (ETXMAPDataIngestRequest): UPER/ASN.1 J2735/ETSI base64 encoded
                MapData message or JSON representation of the MapData message.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Map message/s
                successfully uploaded

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.IMP_SERVER)
            .path("/api/v2/mapdata")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("VendorID")
                .value(vendor_id))
            .header_param(Parameter()
                .key("MessageStandard")
                .value(map_data_message_standard))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("thingspace_oauth"), Single("sessionToken"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("400", "Bad Request", MdmErrorResponseException)
            .local_error("401", "Unauthorized", MdmErrorResponseException)
            .local_error("403", "Forbidden", MdmErrorResponseException)
            .local_error("405", "Method not allowed", MdmErrorResponseException)
            .local_error("429", "Too many requests", MdmErrorResponseException)
            .local_error("503", "Internal server error", MdmErrorResponseException)
            .local_error("default", "unexpected error", MdmErrorResponseException),
        ).execute()

    def query_map_messages(self,
                           vendor_id,
                           body):
        """Perform a POST request to /api/v2/mapdata/query.

        This endpoint allows users to download SAE J2735 or ETSI MAP messages as a
        JSON list.
        Depending on the expectedType parameter, the response contains either ASN.1
        UPER base64-encoded messages with their respective region and intersection
        IDs, or fully decoded JSON messages.
        The area for MAP message retrieval must be defined in the request body using
        one of two methods:
        An array of region and intersection ID pairs, or a GeoJSON geofence
        specification.

        Args:
            vendor_id (str): The VendorID set during the Vendor registration call.
            body (ETXMAPMessageIntersectionCoordinates |
                ETXMAPMessageGeoJSONPolygon): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successfully retrieved
                MAP messages. Returns a JSON array where each element contains either
                a base64 string or parsed message object.

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.IMP_SERVER)
            .path("/api/v2/mapdata/query")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("VendorID")
                .value(vendor_id))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .validator(lambda value: UnionTypeLookUp
                    .get("MapDataQueryRequest").validate(value)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("thingspace_oauth"), Single("sessionToken"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("400", "Bad Request", MdmErrorResponseException)
            .local_error("401", "Unauthorized", MdmErrorResponseException)
            .local_error("403", "Forbidden", MdmErrorResponseException)
            .local_error("405", "Method not allowed", MdmErrorResponseException)
            .local_error("429", "Too many requests", MdmErrorResponseException)
            .local_error("503", "Internal server error", MdmErrorResponseException)
            .local_error("default", "unexpected error", MdmErrorResponseException),
        ).execute()

    def delete_map_message(self,
                           region_id,
                           i_10_nid):
        """Perform a DELETE request to
        /api/v2/mapdata/regionid/{regionId}/i10nid/{i10nid}.

        Removes a map message for the specified region and intersection ID.

        Args:
            region_id (str): Region ID to filter the map messages.
            i_10_nid (str): Intersection ID to filter the map messages.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Deleted successfully
                (No Content)

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.IMP_SERVER)
            .path("/api/v2/mapdata/regionid/{regionId}/i10nid/{i10nid}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("regionId")
                .value(region_id)
                .should_encode(True))
            .template_param(Parameter()
                .key("i10nid")
                .value(i_10_nid)
                .should_encode(True))
            .auth(And(Single("thingspace_oauth"), Single("sessionToken"))),
        ).response(
            ResponseHandler()
            .is_api_response(True)
            .local_error("400", "Bad Request", MdmErrorResponseException)
            .local_error("401", "Unauthorized", MdmErrorResponseException)
            .local_error("403", "Forbidden", MdmErrorResponseException)
            .local_error("404", "Not found", MdmErrorResponseException)
            .local_error("429", "Too many requests", MdmErrorResponseException)
            .local_error("503", "Internal server error", MdmErrorResponseException)
            .local_error("default", "unexpected error", MdmErrorResponseException),
        ).execute()
